
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.4/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* plannerimage */
.startScreen_plannerimage {
	width: 281px; height: 232px;
	display: block;
    margin-left:auto;
 	margin-right:auto;
	margin-bottom: 20px;
}
/* signin */
#startScreen_signin {

}
.ui-btn.startScreen_signin {
	margin: 4px 25px 10px 25px;
}
/* signup */
#startScreen_signup {

}
.ui-btn.startScreen_signup {
	margin: 4px 25px 4px 25px;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}